.hero {
  height: 90vh;
  background: linear-gradient(
      rgba(15, 23, 42, 0.7),
      rgba(15, 23, 42, 0.7)
    ),
    url('./images/background.png');
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-btn {
  background-color: #22c55e;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero-btn:hover {
  background-color: #16a34a;
}
